.itemOverView{
    padding: 2rem 6%;
}
.itemOverView h3{
    text-align: center;
}
.itemOverView .itemContainer{
    gap:1.5rem 1.5rem ;
    padding: 2rem 0;
}
.itemOverView .itemContainer .items {
text-align: center;
   padding: 1rem;
    background:rgba(0,0,0,.1);
    border-radius: 1rem;
    box-shadow: 0 0 8px rgba(0,0,0,.4);
}

.itemOverView .itemContainer.not .items img{
    width: 27rem;
    padding: 1rem;
    height:20rem;
    object-fit: fill;
    background-color: rgba(0,0,0,.1);
}
.itemOverView .itemContainer .items img{
    width: 27rem;
    height:27rem;
object-fit:cover;    
}
